### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on

#ErrorDocument 404 http://localhost/social/404.html
#ErrorDocument 400 http://localhost/social/404.html
#ErrorDocument 403 http://localhost/social/404.html

ErrorDocument 500 http://localhost/social/500.shtml
ErrorDocument 502 http://localhost/social/500.shtml
ErrorDocument 503 http://localhost/social/500.shtml
ErrorDocument 504 http://localhost/social/500.shtml

RewriteRule welcome index.php
RewriteRule main user/index.php
RewriteRule page user/page.php
RewriteRule grupa user/group.php
RewriteRule moj-profil user/myprofil.php
RewriteRule profile user/profile.php
RewriteRule stworz-grupe user/createGroup.php
RewriteRule stworz-strone user/createSite.php
RewriteRule zaproszenia user/newfriend.php
RewriteRule zapisane user/saved.php
RewriteRule ustawienia user/settings.php
RewriteRule nowy-user user/newuser.php
RewriteRule edytuj-profil user/profil-edit.php
RewriteRule edytuj-strone user/site-edit.php
RewriteRule edytuj-grupe user/group-edit.php
RewriteRule messages user/messages.php
RewriteRule moje-strony user/mysites.php
RewriteRule moje-grupy user/mygroups.php
RewriteRule czlonkowie user/members-group.php
RewriteRule dodaj-uzytkownikow user/add-members-group.php
RewriteRule post user/post.php
RewriteRule nie-znaleziono user/notfound.php


